html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f3f7;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center; }

.mobile {
  margin-left: 30rem;
  margin-top: 5rem;
  width: 35rem;
  border: 12px white solid;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 10px 20px #f5f3f7; }

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #8838ff, #9241c8);
  padding: 2rem;
  height: 9rem; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 37.4rem;
    width: 20rem;
    height: 2.8rem;
    border-radius: 2rem;
    background-color: white;
    z-index: 100; }
  .header img {
    width: 4rem;
    border: 3px solid white;
    border-radius: 50%; }
  .header .user-details {
    margin-left: 2rem;
    color: white; }
    .header .user-details p {
      opacity: 50%; }

.messages {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.3rem; }
  .messages .user {
    color: #8838ff; }
    .messages .user .user-text, .messages .user-left-2 {
      background-color: #c6cacd;
      opacity: 0.5;
      margin-bottom: 0.4rem;
      max-width: 65%;
      border-radius: 2rem;
      border-bottom-left-radius: 0;
      padding: 1rem; }

.reply {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.8rem 0; }
  .reply .images img {
    width: 7rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem; }
    .reply .images img:not(:last-child) {
      margin-right: 0.8rem; }
  .reply-text {
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    border-bottom-right-radius: 0; }
    .reply-text-1 {
      margin-bottom: 0.5rem;
      max-width: 60%; }

.offer-thirty-mins, .offer-one-hour {
  max-width: 80%;
  background: linear-gradient(to left, #8838ff, #9241c8);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  color: white; }
  .offer-thirty-mins:not(:last-child), .offer-one-hour:not(:last-child) {
    margin-bottom: 0.8rem; }

.offer div {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: 0.5; }

.offer p {
  margin-left: -2rem;
  opacity: 0.7; }
  .offer p.hour {
    margin-left: -4.3rem; }

.offer h2 {
  font-weight: 700;
  font-size: 2rem; }

form {
  display: inline-flex;
  margin-top: 1.3rem; }
  form input {
    width: 100%;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
    border: 1px solid #f5f3f7; }
    form input:focus {
      outline: none; }
  form .arrow {
    font-size: 3rem;
    color: white;
    background-color: #3e2753;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    padding: 0 1.2rem;
    margin-left: -4.3rem;
    margin-top: 0.27rem;
    cursor: pointer; }

aside {
  max-width: 65%; }
  aside h2 {
    color: #3e2753;
    font-size: 3rem;
    margin-bottom: 2rem; }
  aside p {
    opacity: 0.4;
    line-height: 1.5; }

@media only screen and (max-width: 970px) {
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
    body .header::before {
      content: "";
      position: fixed;
      top: 5rem;
      left: 10.4rem;
      width: 20rem;
      height: 2.8rem;
      border-radius: 2rem;
      background-color: white; }
  .mobile {
    margin-left: initial; }
  aside {
    margin-bottom: 5rem;
    text-align: center; } }
